<h3>{{settingsService.labels['admin.settings']}}</h3>
<table mat-table [dataSource]="settings" class="tabl mat-elevation-z2">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> 
            {{element.id}}
        </td>
      </ng-container>

    <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.distances.label']}} </th>
        <td mat-cell *matCellDef="let element"> 
            {{element.label}}
        </td>
      </ng-container>

      <ng-container matColumnDef="path">
        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.setting.image']}} </th>
        <td mat-cell *matCellDef="let element"> 
           <table>
               <tr>
                   <td>
                    <img [src]="element.path" height="100px">
                   </td>
                   <td>
                    <button mat-raised-button color="primary" [disabled]="!settingsService.user"  (click)="showUploadDialog(element)"><mat-icon aria-hidden="false" aria-label="uploadfile">cloud_upload</mat-icon> Upload</button>
                   </td>
               </tr>
           </table>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

