<div style="width: 100%; margin-top: 10px;">
    <mat-form-field  style="width: 100%;">
        <mat-label>Información adicional de la orden</mat-label>
        <textarea matInput [(ngModel)]="orderHistory.details" ></textarea>
      </mat-form-field>
      
</div>
<div style="text-align: end;">
    <button mat-button color="primary" (click)="sendInfo()">Add info</button>
</div>
<div>
    <mat-card *ngFor="let history of listHistory" style="margin:10px 10px 0px 10px">
        <table>
            <tr>
                <td>{{history.recordDate}}</td>
                <td>{{history.details}}</td>
            </tr>
        </table>
    </mat-card>
</div>