

.make-a-button{
  font-size: 1.4em;
  color: white;
  padding: 1.2em;
}

.make-a-button img {
  width: 36px;
  color:white;
}

table{
  width: 100%;
}

.titles{
  color: #ff0000;
}

.subtitles{
  color: #c10000;
}

.empty{
  color:#ccc;
}

.card-order{
  margin: 10px; 
  text-align: left; 
  border-radius: 10px;
}

.container {
  display: flex; /* or inline-flex */
  width: 100%;
  align-items: stretch;
}

.item{ 
  min-width: 97%;
  padding: 1rem;
}

.total-amount{
  margin: 0px;
}

.justify-start{
  text-align: start;
}

.justify-end{
  text-align: end;
}