
 <audio #audioOption>
        <source src='https://firebasestorage.googleapis.com/v0/b/fosil-pwa.appspot.com/o/settings%2Fdone-for-you-612.mp3?alt=media&token=1df663bd-cd4e-4150-ada3-0cda9a8f2f8a' type="audio/mp3">
    </audio>
<div class="container">
        <div class="item justify-end">
                <mat-form-field  >
                        <mat-label>Ordenes del dia</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="dayOrders" (dateChange)="changeOrderDate()">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
        </div>
</div>
      
               
      
<div *ngIf="isSmallScreen">
<mat-tab-group>
        <mat-tab > 
                <ng-template mat-tab-label>
                        <mat-icon aria-hidden="false">content_copy</mat-icon>
                        {{settingsService.labels['admin.order.status.new']}}
                      </ng-template>
                <h2 *ngIf="listOrder?.length == 0" class="empty">{{settingsService.labels['admin.orders.empty']}}</h2>
                <mat-card  class="mat-elevation-z4 card-order" *ngFor="let order of listOrder" >
                       <table style="width: 100%;">
                               <tr>
                                       <td>
                                        <mat-icon matListIcon>event</mat-icon>
                                       </td>
                                       <td>
                                                <div hidden>{{order.id}}</div>
                                                <span>{{order.timestampRecord | date:'dd/MMM/yyy HH:mm'}}</span>
                                       </td>
                                       <td style="text-align: right;">
                                        <mat-chip class="mat-elevation-z2" color="accent" selected (click)="showDetail(order)"><mat-icon matListIcon>assignment</mat-icon></mat-chip>
                                       </td>
                               </tr>
                               <tr>
                                <td>
                                 <mat-icon matListIcon>person_pin</mat-icon>
                                </td>
                                <td>
                                 <span>{{order.address}}</span>
                                </td>
                        </tr>
                       </table>
                       
        
                        <mat-chip-list>
                                <mat-chip color="primary" selected (click)="callNumber(order.phoneNumber)">  
                                        <mat-icon aria-hidden="false" aria-label="">phone</mat-icon>{{order.phoneNumber}}
                                </mat-chip>
                                <mat-chip color="primary"  *ngIf="order.customerPickUp" selected><mat-icon aria-hidden="false">storefront</mat-icon></mat-chip>
                                <mat-chip color="accent" *ngIf="!order.customerPickUp" selected><mat-icon aria-hidden="false" >moped</mat-icon></mat-chip>
                                <mat-chip>{{order.order?.length}} {{settingsService.labels['menu.item.burrito']}}</mat-chip>
                                <mat-chip>{{order.totalAmount + order.deliveryAmount}} {{settingsService.labels['settings.currency.cz']}}</mat-chip>
                              </mat-chip-list>
                </mat-card>   
                  
        </mat-tab>
        <mat-tab > 
                <ng-template mat-tab-label>
                        <mat-icon aria-hidden="false">whatshot</mat-icon>
                        {{settingsService.labels['admin.order.status.kitchen']}}
                      </ng-template>
                <h2 *ngIf="listOrderKitchen?.length == 0" class="empty">{{settingsService.labels['admin.orders.empty']}}</h2>
                <mat-card  class="mat-elevation-z4 card-order" *ngFor="let order of listOrderKitchen" (click)="showDetail(order)">
                        
                        <table style="width: 100%;">
                                <tr>
                                        <td>
                                         <mat-icon matListIcon>event</mat-icon>
                                        </td>
                                        <td>
                                         <span>{{order.timestampRecord | date:'dd/MMM/yyy HH:mm'}}</span>
                                        </td>
                                        <td style="text-align: right;">
                                         <mat-chip class="mat-elevation-z2" color="accent" selected (click)="showDetail(order)"><mat-icon matListIcon>assignment</mat-icon></mat-chip>
                                        </td>
                                </tr>
                                <tr>
                                 <td>
                                  <mat-icon matListIcon>person_pin</mat-icon>
                                 </td>
                                 <td>
                                  <span>{{order.address}}</span>
                                 </td>
                         </tr>
                        </table>
                        <mat-chip-list>
                                <mat-chip color="primary" selected> 
                                        <mat-icon aria-hidden="false" aria-label="">phone</mat-icon>{{order.phoneNumber}}
                                </mat-chip>
                                <mat-chip color="primary"  *ngIf="order.customerPickUp" selected><mat-icon aria-hidden="false">storefront</mat-icon></mat-chip>
                                <mat-chip color="accent" *ngIf="!order.customerPickUp" selected><mat-icon aria-hidden="false" >moped</mat-icon></mat-chip>
                                <mat-chip>{{order.order?.length}} {{settingsService.labels['menu.item.burrito']}}</mat-chip>
                                <mat-chip>{{order.totalAmount + order.deliveryAmount}} {{settingsService.labels['settings.currency.cz']}}</mat-chip>
                              </mat-chip-list>
                </mat-card>    </mat-tab>

                <mat-tab > 
                        <ng-template mat-tab-label>
                                <mat-icon aria-hidden="false">redeem</mat-icon>
                                {{settingsService.labels['admin.order.status.ready']}}
                              </ng-template>
                        <h2 *ngIf="listOrderReady?.length == 0" class="empty">{{settingsService.labels['admin.orders.empty']}}</h2>
                        <mat-card  class="mat-elevation-z4 card-order" *ngFor="let order of listOrderReady" (click)="showDetail(order)">
                                
                                <table style="width: 100%;">
                                        <tr>
                                                <td>
                                                 <mat-icon matListIcon>event</mat-icon>
                                                </td>
                                                <td>
                                                 <span>{{order.timestampRecord | date:'dd/MMM/yyy HH:mm'}}</span>
                                                </td>
                                                <td style="text-align: right;">
                                                 <mat-chip class="mat-elevation-z2" color="accent" selected (click)="showDetail(order)"><mat-icon matListIcon>assignment</mat-icon></mat-chip>
                                                </td>
                                        </tr>
                                        <tr>
                                         <td>
                                          <mat-icon matListIcon>person_pin</mat-icon>
                                         </td>
                                         <td>
                                          <span>{{order.address}}</span>
                                         </td>
                                 </tr>
                                </table>
                                <mat-chip-list>
                                        <mat-chip color="primary" selected> 
                                                <mat-icon aria-hidden="false" aria-label="">phone</mat-icon>{{order.phoneNumber}}
                                        </mat-chip>
                                        <mat-chip color="primary"  *ngIf="order.customerPickUp" selected><mat-icon aria-hidden="false">storefront</mat-icon></mat-chip>
                                <mat-chip color="accent" *ngIf="!order.customerPickUp" selected><mat-icon aria-hidden="false" >moped</mat-icon></mat-chip>
                                        <mat-chip>{{order.order?.length}} {{settingsService.labels['menu.item.burrito']}}</mat-chip>
                                        <mat-chip>{{order.totalAmount + order.deliveryAmount}} {{settingsService.labels['settings.currency.cz']}}</mat-chip>
                                      </mat-chip-list>
                        </mat-card>    </mat-tab>
        <mat-tab>  
                <ng-template mat-tab-label>
                        <mat-icon aria-hidden="false">directions_bike</mat-icon>
                        {{settingsService.labels['admin.order.status.send']}}
                      </ng-template>
                <h2 *ngIf="listOrderSended?.length == 0" class="empty">{{settingsService.labels['admin.orders.empty']}}</h2>
                <mat-card  class="mat-elevation-z4 card-order" *ngFor="let order of listOrderSended" (click)="showDetail(order)">
                        
                        <table style="width: 100%;">
                                <tr>
                                        <td>
                                         <mat-icon matListIcon>event</mat-icon>
                                        </td>
                                        <td>
                                         <span>{{order.timestampRecord | date:'dd/MMM/yyy HH:mm'}}</span>
                                        </td>
                                        <td style="text-align: right;">
                                         <mat-chip class="mat-elevation-z2" color="accent" selected (click)="showDetail(order)"><mat-icon matListIcon>assignment</mat-icon></mat-chip>
                                        </td>
                                </tr>
                                <tr>
                                 <td>
                                  <mat-icon matListIcon>person_pin</mat-icon>
                                 </td>
                                 <td>
                                  <span>{{order.address}}</span>
                                 </td>
                         </tr>
                        </table>
                        <mat-chip-list>
                                <mat-chip color="primary" selected> 
                                        <mat-icon aria-hidden="false" aria-label="">phone</mat-icon>{{order.phoneNumber}}
                                </mat-chip>
                                <mat-chip color="primary"  *ngIf="order.customerPickUp" selected><mat-icon aria-hidden="false">storefront</mat-icon></mat-chip>
                                <mat-chip color="accent" *ngIf="!order.customerPickUp" selected><mat-icon aria-hidden="false" >moped</mat-icon></mat-chip>
                                <mat-chip>{{order.order?.length}} </mat-chip>
                                <mat-chip>{{order.totalAmount + order.deliveryAmount}} {{settingsService.labels['settings.currency.cz']}}</mat-chip>
                              </mat-chip-list>
                </mat-card>    
        </mat-tab>
        <mat-tab> 
                <ng-template mat-tab-label>
                        <mat-icon aria-hidden="false">emoji_people</mat-icon>
                        {{settingsService.labels['admin.order.status.delivered']}}
                      </ng-template>
                <h2 *ngIf="listOrderDelivered?.length == 0" class="empty">{{settingsService.labels['admin.orders.empty']}}</h2>
                <mat-card  class="mat-elevation-z4 card-order" *ngFor="let order of listOrderDelivered" (click)="showDetail(order)">
                        
                        <table style="width: 100%;">
                                <tr>
                                        <td>
                                         <mat-icon matListIcon>event</mat-icon>
                                        </td>
                                        <td>
                                         <span>{{order.timestampRecord | date:'dd/MMM/yyy HH:mm'}}</span>
                                        </td>
                                        <td style="text-align: right;">
                                         <mat-chip class="mat-elevation-z2" color="accent" selected (click)="showDetail(order)"><mat-icon matListIcon>assignment</mat-icon></mat-chip>
                                        </td>
                                </tr>
                                <tr>
                                 <td>
                                  <mat-icon matListIcon>person_pin</mat-icon>
                                 </td>
                                 <td>
                                  <span>{{order.address}}</span>
                                 </td>
                         </tr>
                        </table>
                        <mat-chip-list>
                                <mat-chip color="primary" selected> 
                                        <mat-icon aria-hidden="false" aria-label="">phone</mat-icon>{{order.phoneNumber}}
                                </mat-chip>
                                <mat-chip color="primary"  *ngIf="order.customerPickUp" selected><mat-icon aria-hidden="false">storefront</mat-icon></mat-chip>
                                <mat-chip color="accent" *ngIf="!order.customerPickUp" selected><mat-icon aria-hidden="false" >moped</mat-icon></mat-chip>
                                <mat-chip>{{order.order?.length}} {{settingsService.labels['menu.item.burrito']}}</mat-chip>
                                <mat-chip>{{order.totalAmount + order.deliveryAmount}} {{settingsService.labels['settings.currency.cz']}}</mat-chip>
                              </mat-chip-list>
                </mat-card>     </mat-tab>
      </mat-tab-group>
</div>


<div *ngIf="!isSmallScreen">
        <mat-tab-group>
                <mat-tab  >  
                        <ng-template mat-tab-label>
                                <mat-icon aria-hidden="false">content_copy</mat-icon>
                                {{settingsService.labels['admin.order.status.new']}}
                              </ng-template>
                        
                        <table mat-table [dataSource]="dataSource">
                                <!-- RECEIVED DATE -->
                                <ng-container matColumnDef="receivedDate" style="width: 10%;">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.received']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.timestampRecord | date:'dd/MMM/yyy HH:mm'}}
                                        </td>
                              
                                      </ng-container>
                        
                                 <!-- ADDRESS -->
                                 <ng-container matColumnDef="address" style="width: 60%;">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.address']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                <mat-chip-list aria-label="Delivery selection" >
                                                        <mat-chip color="primary"  *ngIf="element.customerPickUp" selected (click)="showDetail(element)"><mat-icon aria-hidden="false">storefront</mat-icon></mat-chip>
                                                        <mat-chip color="accent" *ngIf="!element.customerPickUp" selected (click)="showDetail(element)"><mat-icon aria-hidden="false" >moped</mat-icon></mat-chip>
                                                        <mat-chip (click)="showDetail(element)" >{{element.address}}</mat-chip>
                                                      </mat-chip-list>
                                        </td>
                              
                                      </ng-container>
                        
                                 <!-- PHONE NUMBER -->
                                 <ng-container matColumnDef="phoneNumber" style="width: 10%;">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.phonenumber']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.phoneNumber}}
                                        </td>
                              
                                      </ng-container>
                        
                                <!-- ORDER -->
                                 <ng-container matColumnDef="order" style="width: 10%;">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.items']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.order?.length}}
                                        </td>
                              
                                      </ng-container>
                        
                                 <!-- TOTAL -->
                                 <ng-container matColumnDef="total" style="width: 10%;">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.total']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.totalAmount + element.deliveryAmount}} {{settingsService.labels['settings.currency.cz']}}
                                        </td>
                              
                                      </ng-container>
                        
                                 <!-- STATUS 
                                 <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.status']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.status}}
                                        </td>
                              
                                      </ng-container>-->
                                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                    <h2 *ngIf="listOrder?.length == 0" class="empty">{{settingsService.labels['admin.orders.empty']}}</h2>
                                    <mat-paginator #newPaginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
                          
                </mat-tab>
                <mat-tab > 
                        <ng-template mat-tab-label>
                                <mat-icon aria-hidden="false">whatshot</mat-icon>
                                {{settingsService.labels['admin.order.status.kitchen']}}
                              </ng-template>
                        
                        <table mat-table [dataSource]="dataSourceKitchen" matSort>
                                <!-- RECEIVED DATE -->
                                <ng-container matColumnDef="receivedDate">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.received']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.timestampRecord | date:'dd/MMM/yyy HH:mm'}}
                                        </td>
                              
                                      </ng-container>
                        
                                 <!-- ADDRESS -->
                                 <ng-container matColumnDef="address">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.address']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                <mat-chip-list aria-label="Delivery selection">

                                                        <mat-chip color="primary"  *ngIf="element.customerPickUp" (click)="showDetail(element)" selected><mat-icon aria-hidden="false">storefront</mat-icon></mat-chip>
                                                        <mat-chip color="accent" *ngIf="!element.customerPickUp" (click)="showDetail(element)" selected><mat-icon aria-hidden="false" >moped</mat-icon></mat-chip>
                                                        <mat-chip (click)="showDetail(element)" >{{element.address}}</mat-chip>
                                                      </mat-chip-list>
                                        </td>
                              
                                      </ng-container>
                        
                                 <!-- PHONE NUMBER -->
                                 <ng-container matColumnDef="phoneNumber">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.phonenumber']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.phoneNumber}}
                                        </td>
                              
                                      </ng-container>
                        
                                <!-- ORDER -->
                                 <ng-container matColumnDef="order">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.items']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.order?.length}}
                                        </td>
                              
                                      </ng-container>
                        
                                 <!-- TOTAL -->
                                 <ng-container matColumnDef="total">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.total']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.totalAmount + element.deliveryAmount}} {{settingsService.labels['settings.currency.cz']}}
                                        </td>
                              
                                      </ng-container>
                        
                                 <!-- STATUS 
                                 <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.status']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.status}}
                                        </td>
                              
                                      </ng-container>-->
                                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                    <h2 *ngIf="listOrderKitchen?.length == 0" class="empty">{{settingsService.labels['admin.orders.empty']}}</h2>
                                    <mat-paginator #kitchenPaginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>   
                                
                </mat-tab>

                <mat-tab  >  
                        <ng-template mat-tab-label>
                                <mat-icon aria-hidden="false">redeem</mat-icon>
                                {{settingsService.labels['admin.order.status.ready']}}
                              </ng-template>
                        
                        <table mat-table [dataSource]="dataSourceReady2Send">
                                <!-- RECEIVED DATE -->
                                <ng-container matColumnDef="receivedDate" style="width: 10%;">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.received']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.timestampRecord | date:'dd/MMM/yyy HH:mm'}}
                                        </td>
                              
                                      </ng-container>
                        
                                 <!-- ADDRESS -->
                                 <ng-container matColumnDef="address" style="width: 60%;">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.address']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                <mat-chip-list aria-label="Delivery selection">

                                                        <mat-chip color="primary"  *ngIf="element.customerPickUp" (click)="showDetail(element)" selected><mat-icon aria-hidden="false">storefront</mat-icon></mat-chip>
                                                        <mat-chip color="accent" *ngIf="!element.customerPickUp" (click)="showDetail(element)" selected><mat-icon aria-hidden="false" >moped</mat-icon></mat-chip>
                                                        <mat-chip (click)="showDetail(element)">{{element.address}}</mat-chip>
                                                      </mat-chip-list>
                                        </td>
                              
                                      </ng-container>
                        
                                 <!-- PHONE NUMBER -->
                                 <ng-container matColumnDef="phoneNumber" style="width: 10%;">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.phonenumber']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.phoneNumber}}
                                        </td>
                              
                                      </ng-container>
                        
                                <!-- ORDER -->
                                 <ng-container matColumnDef="order" style="width: 10%;">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.items']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.order?.length}}
                                        </td>
                              
                                      </ng-container>
                        
                                 <!-- TOTAL -->
                                 <ng-container matColumnDef="total" style="width: 10%;">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.total']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.totalAmount + element.deliveryAmount}} {{settingsService.labels['settings.currency.cz']}}
                                        </td>
                              
                                      </ng-container>
                        
                                 <!-- STATUS 
                                 <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.status']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.status}}
                                        </td>
                              
                                      </ng-container>-->
                                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                    <h2 *ngIf="listOrderReady?.length == 0" class="empty">{{settingsService.labels['admin.orders.empty']}}</h2>
                                    <mat-paginator #readyPaginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
                          
                </mat-tab>

                <mat-tab >  
                        <ng-template mat-tab-label>
                                <mat-icon aria-hidden="false">directions_bike</mat-icon>
                                {{settingsService.labels['admin.order.status.send']}}
                              </ng-template>
                        
                        <table mat-table [dataSource]="dataSourceSended">
                                <!-- RECEIVED DATE -->
                                <ng-container matColumnDef="receivedDate">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.received']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.timestampRecord | date:'dd/MMM/yyy HH:mm'}}
                                        </td>
                              
                                      </ng-container>
                        
                                 <!-- ADDRESS -->
                                 <ng-container matColumnDef="address">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.address']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                <mat-chip-list aria-label="Delivery selection">

                                                        <mat-chip color="primary"  *ngIf="element.customerPickUp" (click)="showDetail(element)" selected><mat-icon aria-hidden="false">storefront</mat-icon></mat-chip>
                                                        <mat-chip color="accent" *ngIf="!element.customerPickUp" (click)="showDetail(element)" selected><mat-icon aria-hidden="false" >moped</mat-icon></mat-chip>
                                                        <mat-chip (click)="showDetail(element)" >{{element.address}}</mat-chip>
                                                      </mat-chip-list>
                                        </td>
                              
                                      </ng-container>
                        
                                 <!-- PHONE NUMBER -->
                                 <ng-container matColumnDef="phoneNumber">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.phonenumber']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.phoneNumber}}
                                        </td>
                              
                                      </ng-container>
                        
                                <!-- ORDER -->
                                 <ng-container matColumnDef="order">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.items']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.order?.length}}
                                        </td>
                              
                                      </ng-container>
                        
                                 <!-- TOTAL -->
                                 <ng-container matColumnDef="total">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.total']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.totalAmount + element.deliveryAmount}} {{settingsService.labels['settings.currency.cz']}}
                                        </td>
                              
                                      </ng-container>
                        
                                 <!-- STATUS 
                                 <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.status']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.status}}
                                        </td>
                              
                                      </ng-container>-->
                                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                    <h2 *ngIf="listOrderSended?.length == 0" class="empty">{{settingsService.labels['admin.orders.empty']}}</h2>
                                    <mat-paginator #sendedPaginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
                </mat-tab>
                <mat-tab> 
                        <ng-template mat-tab-label>
                                <mat-icon aria-hidden="false">emoji_people</mat-icon>
                                {{settingsService.labels['admin.order.status.delivered']}}
                              </ng-template>
                        
                        <table mat-table [dataSource]="dataSourceDelivered" matSort>
                                <!-- RECEIVED DATE -->
                                <ng-container matColumnDef="receivedDate">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.received']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.timestampRecord | date:'dd/MMM/yyy HH:mm'}}
                                        </td>
                              
                                      </ng-container>
                        
                                 <!-- ADDRESS -->
                                 <ng-container matColumnDef="address">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.address']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                <mat-chip-list aria-label="Delivery selection">

                                                        <mat-chip color="primary"  *ngIf="element.customerPickUp" (click)="showDetail(element)" selected><mat-icon aria-hidden="false">storefront</mat-icon></mat-chip>
                                                        <mat-chip color="accent" *ngIf="!element.customerPickUp" (click)="showDetail(element)" selected><mat-icon aria-hidden="false" >moped</mat-icon></mat-chip>
                                                        <mat-chip (click)="showDetail(element)" >{{element.address}}</mat-chip>
                                                      </mat-chip-list>
                                        </td>
                              
                                      </ng-container>
                        
                                 <!-- PHONE NUMBER -->
                                 <ng-container matColumnDef="phoneNumber">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.phonenumber']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.phoneNumber}}
                                        </td>
                              
                                      </ng-container>
                        
                                <!-- ORDER -->
                                 <ng-container matColumnDef="order">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.items']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.order?.length}}
                                        </td>
                              
                                      </ng-container>
                        
                                 <!-- TOTAL -->
                                 <ng-container matColumnDef="total">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.total']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.totalAmount + element.deliveryAmount}} {{settingsService.labels['settings.currency.cz']}}
                                        </td>
                              
                                      </ng-container>
                        
                                 <!-- STATUS 
                                 <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.orders.table.status']}} </th>
                                        <td mat-cell *matCellDef="let element" (click)="showDetail(element)">
                                                {{element.status}}
                                        </td>
                              
                                      </ng-container>-->
                                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                    <h2 *ngIf="listOrderDelivered?.length == 0" class="empty">{{settingsService.labels['admin.orders.empty']}}</h2>
                                    <div class="container">
                                        <div class="item justify-end" >
                                                <label>{{settingsService.labels['admin.orders.table.total']}}</label>
                                                <h3 class="total-amount">{{totalDelivered}} {{settingsService.labels['settings.currency.cz']}}</h3>
                                        </div>
                                    </div>
                                    <mat-paginator #deliveredPaginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator></mat-tab>
              </mat-tab-group>
        </div>
