.labl{
    color: #aaa;
    font-size: 0.8em;
    display: block;
}

.tabl{
    width: 100%;
}

.titles{
    color: #ff0000;
  }
  
  .subtitles{
    color: #c10000;
  }

  .fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
