<div mat-dialog-title style="width: 100%;">
  <div style="width: 50%; display: inline-block;">{{settingsService.labels['admin.order.detail']}}</div>
 
  <div style="width: 50%; display: inline-block;" align="end" mat-dialog-close><mat-icon aria-hidden="false" aria-label="Close" style="cursor: pointer;">close</mat-icon></div>
</div>
<mat-dialog-content>
  <!--h3 mat-subheader class="subtitles">{{settingsService.labels['admin.order.detail.customerinfo']}}</h3-->
  <mat-card>
    <mat-card-content>
      <table class="tabl">
        <tr>
          <td>
            <label class="labl">{{settingsService.labels['admin.orders.table.received']}}</label>
          <span>{{order.timestampRecord | date:'dd/MMM/yyy HH:mm'}}</span>
          </td>
          
          <td>
            <label class="labl">{{settingsService.labels['admin.orders.table.total']}}</label>
          <span>{{order.totalAmount + order.deliveryAmount}} {{settingsService.labels['settings.currency.cz']}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <label class="labl">{{settingsService.labels['admin.orders.table.address']}}</label>
          <span>{{order.address}}</span>
          </td>
          
          <td>
            <label class="labl">{{settingsService.labels['admin.orders.table.status']}}</label>
          <span>{{order.status}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <label class="labl">{{settingsService.labels['admin.orders.table.phonenumber']}}</label>
          <span>{{order.phoneNumber}}</span>
          </td>
          <td>
            <mat-chip-list>
            <mat-chip color="primary"  *ngIf="order.customerPickUp" selected><mat-icon aria-hidden="false">storefront</mat-icon></mat-chip>
            <mat-chip color="accent" *ngIf="!order.customerPickUp" selected><mat-icon aria-hidden="false" >moped</mat-icon></mat-chip>
          </mat-chip-list>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
  
  <mat-tab-group>
    <mat-tab [label]="settingsService.labels['admin.order.detail.items']"> 
      <mat-card *ngFor="let item of order.order" style="margin: 10px;">
        <mat-card-subtitle>
          {{settingsService.labels['menu.item.burrito']}}
        </mat-card-subtitle>
        <mat-card-content>
          <mat-chip-list>
            <mat-chip *ngFor="let ingredient of item.contents">{{settingsService.labels[ingredient.label]}}</mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
  
    </mat-tab>
    <mat-tab [label]="settingsService.labels['admin.order.detail.history']">
      <app-order-history></app-order-history>
    </mat-tab>
  </mat-tab-group>
    
   
    
</mat-dialog-content>
<mat-dialog-actions align="end" >
  
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-raised-button color="accent" *ngIf="order.status=='NEW'" (click)="moveStatus('KITCHEN')" mat-dialog-close [disabled]="!settingsService.user">{{settingsService.labels['admin.order.status.kitchen']}}</button>
  <button mat-raised-button color="accent" *ngIf="order.status=='KITCHEN'" (click)="moveStatus('READY')" mat-dialog-close [disabled]="!settingsService.user">{{settingsService.labels['admin.order.status.ready']}}</button>
  <button mat-raised-button color="accent" *ngIf="order.status=='READY'" (click)="moveStatus('SENDED')" mat-dialog-close [disabled]="!settingsService.user">{{settingsService.labels['admin.order.status.send']}}</button>
  <button mat-raised-button color="accent" *ngIf="order.status=='SENDED'" (click)="moveStatus('DELIVERED')" mat-dialog-close [disabled]="!settingsService.user">{{settingsService.labels['admin.order.status.delivered']}}</button>
  <button mat-button color="warn" *ngIf="order.isCanceled==false" (click)="toggleCancel()" [disabled]="!settingsService.user">{{settingsService.labels['admin.order.detail.cancel']}}</button>
  <button mat-button color="accent" *ngIf="order.isCanceled==true" mat-dialog-close (click)="moveStatus('CANCELED')" [disabled]="!settingsService.user">{{settingsService.labels['admin.order.detail.cancel.confirm']}}</button>
  <button mat-button color="warn" *ngIf="order.isCanceled==true" (click)="toggleCancel()" [disabled]="!settingsService.user">{{settingsService.labels['admin.order.detail.cancel.no']}}</button>
</mat-dialog-actions>