.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

.label-separator{
  color: #780131;
  padding: 10px;
  font-size: 1.4em;
}

.check{
  color: #6AC259;
}