<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span> <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="back()">
            <mat-icon>arrow_back_ios</mat-icon>
          </button> {{settingsService.labels['order.makemyburrito']}}</span>
        <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <span>Total 0.0 Kc</span>
    </mat-toolbar-row>
</mat-toolbar>

<div *ngFor="let group of groups | async" >
    <div class="label-separator">{{settingsService.labels[group.label]}}</div>
      <mat-card *ngFor="let ingredient of group.ingredients | async" style="margin:10px;" (click)="selectIngredient(ingredient)">
          <div style="display: inline-block;width: 50%;">
                {{settingsService.labels[ingredient.label]}}
          </div>
          <div style="display: inline-block;width: 50%;text-align: right;">
                <span>{{ingredient.amount}} Kč </span> 
                <mat-icon aria-hidden="false" class="check" *ngIf="ingredient.isSelected">check_circle</mat-icon>
          </div>
      </mat-card>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>Adicional</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
<br>
  <button mat-raised-button color="primary"  (click)="addMenuItemToOrder()">
    {{settingsService.labels['order.additem']}}
    
    </button>