<div mat-dialog-title style="width: 100%;">
    <div style="width: 50%; display: inline-block;">{{settingsService.labels['admin.menu.group.add']}}</div>
   
    <div style="width: 50%; display: inline-block;" align="end" mat-dialog-close><mat-icon aria-hidden="false" aria-label="Close" style="cursor: pointer;">close</mat-icon></div>
  </div>
  <mat-dialog-content>

    <table class="tabl">
        <thead>
            <tr>
                <th colspan="2">
                    {{settingsService.labels['admin.menu.ingredient.label.conf']}} 
                </th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {{settingsService.labels['admin.menu.ingredient.label.id']}} 
            </td>
            <td>
                <mat-form-field class="full-width">
                    <input matInput type="text" [(ngModel)]="label.id"/>
                </mat-form-field>
            </td>
           
        </tr>
        <tr *ngFor="let lang of langs">
            <td>
                {{lang.country}}
            </td>
            <td >
                <mat-form-field class="full-width">
                    <input matInput [(ngModel)]="label[lang.id]"  [disabled]="!settingsService.user"/>
                  </mat-form-field>
            </td>
        </tr>
    </tbody>
    </table>
    
    <table class="tabl">
        <thead>
            <tr>
                <th colspan="2">
                    {{settingsService.labels['admin.menu.group.conf']}} 
                </th>
            </tr>
        </thead>
        <tbody>
           <tr>
            <td>
                {{settingsService.labels['admin.menu.group.id']}} *
            </td>
               <td>
                <mat-form-field class="full-width">
                    <input matInput type="text" [(ngModel)]="group.id"/>
                </mat-form-field>
               </td>
           </tr>
           <tr>
            <td>
                {{settingsService.labels['admin.menu.group.detail']}} 
            </td>
            <td>
             <mat-form-field class="full-width">
                 <input matInput type="text" [(ngModel)]="group.detail"/>
             </mat-form-field>
            </td>
        </tr>
        </tbody>
    </table>

  </mat-dialog-content>
  <mat-dialog-actions align="end" >
    
    <button mat-button color="accent" mat-dialog-close (click)="upsertGroup()">{{settingsService.labels['admin.menu.group.add']}}</button>
    <button mat-button color="warn" mat-dialog-close>{{settingsService.labels['admin.menu.ingredient.cancel']}}</button>
</mat-dialog-actions>