
<h1 mat-dialog-title>{{settingsService.labels['admin.signin.title']}}</h1>
<div mat-dialog-content style="padding:1em;"> 
    <mat-list role="list">
        <mat-list-item role="listitem">
            <mat-form-field class="inputText">
                <input matInput [placeholder]="settingsService.labels['admin.signin.label.user']" [(ngModel)]="email" >
              </mat-form-field>
        </mat-list-item>
        <mat-list-item role="listitem">
            <mat-form-field class="inputText">
                <input type="password" matInput [placeholder]="settingsService.labels['admin.signin.label.password']" [(ngModel)]="password" >
              </mat-form-field>
        </mat-list-item>
      </mat-list>
    
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="accent" mat-dialog-close (click)="signIn()">{{settingsService.labels['admin.signin.button.sign']}}</button>
  <button mat-button mat-dialog-close >{{settingsService.labels['admin.signin.button.cancel']}}</button>
  
</div>