<div mat-dialog-title style="width: 100%;">
    <div style="width: 50%; display: inline-block;">{{settingsService.labels['admin.menu.ingredient.conf']}} ({{settingsService.labels[group.label]}})</div>
   
    <div style="width: 50%; display: inline-block;" align="end" mat-dialog-close><mat-icon aria-hidden="false" aria-label="Close" style="cursor: pointer;">close</mat-icon></div>
  </div>
  <mat-dialog-content>
<table class="tabl">
    <thead>
        <tr>
            <th colspan="2">
                {{settingsService.labels['admin.menu.ingredient.label.conf']}} 
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            {{settingsService.labels['admin.menu.ingredient.label.id']}} *
        </td>
        <td>
            <mat-form-field class="full-width">
                <mat-label>{{baseLabel}}</mat-label>
                <input matInput type="text" [(ngModel)]="label.id"/>
            </mat-form-field>
        </td>
       
    </tr>
    <tr *ngFor="let lang of langs">
        <td>
            {{lang.country}}
        </td>
        <td >
            <mat-form-field class="full-width">
                <input matInput [(ngModel)]="label[lang.id]"  [disabled]="!settingsService.user"/>
              </mat-form-field>
        </td>
    </tr>
</tbody>
</table>

<table class="tabl">
    <thead>
        <tr>
            <th colspan="2">
                {{settingsService.labels['admin.menu.ingredient.conf']}} 
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                {{settingsService.labels['admin.ingredients.tab.order']}} 
            </td>
            <td>
                <mat-form-field class="full-width">
                    <input matInput type="text" [(ngModel)]="ingredient.order" readonly/>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                {{settingsService.labels['admin.ingredients.tab.value']}} 
            </td>
            <td>
                <mat-form-field class="full-width">
                    <input matInput type="number" [(ngModel)]="ingredient.amount"/>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                {{settingsService.labels['admin.ingredients.tab.check']}} 
            </td>
            <td>
                <mat-checkbox class="example-margin" 
                [(ngModel)]="ingredient.check"
                [disabled]="!settingsService.user"></mat-checkbox>
            </td>
        </tr>
        <tr>
            <td>
                {{settingsService.labels['admin.ingredients.tab.visible']}} 
            </td>
            <td>
                <mat-checkbox class="example-margin" 
                [(ngModel)]="ingredient.visible"
                [disabled]="!settingsService.user"></mat-checkbox>
            </td>
        </tr>
    </tbody>
</table>
</mat-dialog-content>
<mat-dialog-actions align="end" >
    <button mat-button color="accent" (click)="upsert(label)" >{{settingsService.labels['admin.menu.ingredient.add']}}</button>
    <button mat-button color="warn" mat-dialog-close>{{settingsService.labels['admin.menu.ingredient.cancel']}}</button>
</mat-dialog-actions>