<h3>{{settingsService.labels['admin.distances.title']}}</h3>
<table mat-table [dataSource]="distances" class="tabl mat-elevation-z2">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> 
            {{element.id}}
        </td>
      </ng-container>

    <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.distances.label']}} </th>
        <td mat-cell *matCellDef="let element"> 
            {{element.label}}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.distances.amount']}} </th>
        <td mat-cell *matCellDef="let element"> 
            <mat-form-field class="text-currency" >
                <input type="number" matInput [(ngModel)]="element.amount" [disabled]="!settingsService.user" (blur)="updateAmount(element)">
            </mat-form-field>
            {{settingsService.labels['settings.currency.cz']}}
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>