.tabl{
    width: 100%;
}

.text-currency{
    width: 60px;
    text-align: center;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.add-fab-button{
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
}