<br>
<mat-accordion>
    <mat-expansion-panel *ngFor="let group of groupIngredients | async"  class="example-headers-align">
      <mat-expansion-panel-header>
        <mat-panel-title>
          
            {{group.order}} - {{settingsService.labels[group.label]}}
          </mat-panel-title>
          <mat-panel-description>
            {{group.label}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- Boton de accion -->
        <mat-action-row *ngIf="settingsService.user">
          <button mat-button color="accent" (click)="showDetail(group)">{{settingsService.labels['admin.menu.ingredient.add']}}</button>
          <button mat-button color="primary" *ngIf="!group.confirmDelete" (click)="deleteGroup(group)">{{settingsService.labels['admin.labels.delete']}}</button>

          <button mat-button color="accent" *ngIf="group.confirmDelete" (click)="confirmDelete(group)">{{settingsService.labels['admin.labels.delete.confirm']}}</button>
          <button mat-button color="warn" *ngIf="group.confirmDelete"  (click)="deleteGroup(group)"><mat-icon>clear</mat-icon></button>
        </mat-action-row>
        <ng-template matExpansionPanelContent style="padding:0 12px 12px !important;">
          <table mat-table [dataSource]="group.ingredients | async" class="tabl mat-elevation-z2">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column 
            <ng-container matColumnDef="label">
              <th mat-header-cell *matHeaderCellDef> label </th>
              <td mat-cell *matCellDef="let element"> {{element.label}} </td>
            </ng-container>-->
          
            <!-- Name Column -->
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.ingredients.tab.ingredient']}} </th>
              <td mat-cell *matCellDef="let element"> 
                <input type="hidden" [value]="element.id"/>
                <label style="display: block; font-size: 0.8em;color:gray;">{{element.label}}</label>
                {{element.order}} - {{settingsService.labels[element.label]}} 
              </td>
            </ng-container>
          
            <!-- Predeinef -->
            <ng-container matColumnDef="check">
              <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.ingredients.tab.check']}} </th>
              <td mat-cell *matCellDef="let element"> 
              
        
              </td>
            </ng-container>
          
             <!-- Predeinef -->
             <ng-container matColumnDef="accions" *ngIf="settingsService.user">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element" align="end" > 
                <button mat-icon-button (click)="hideIngredient(element.id)" *ngIf="element.visible ">
                  <mat-icon >visibility</mat-icon>
                </button>
                <button mat-icon-button (click)="showIngredient(element.id)" *ngIf="!element.visible">
                  <mat-icon >visibility_off</mat-icon>
                </button>

                <button mat-icon-button (click)="selected(element)" *ngIf="element.check" >
                  <mat-icon >check_box</mat-icon>
                </button>
                <button mat-icon-button (click)="selected(element)" *ngIf="!element.check">
                  <mat-icon >check_box_outline_blank</mat-icon>
                </button>
                
                <button mat-icon-button *ngIf="!element.confirmDelete" (click)="deleteIngredient(element)">
                  <mat-icon>delete_outline</mat-icon>
                </button>

                <button mat-button color="accent" *ngIf="element.confirmDelete"  (click)="confirmDeleteIngredient(element)">
                  <mat-icon>check</mat-icon> {{settingsService.labels['admin.labels.delete.confirm']}}
                </button>
                <button mat-icon-button color="warn" *ngIf="element.confirmDelete"  (click)="deleteIngredient(element)">
                  <mat-icon>clear</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="accions" *ngIf="!settingsService.user">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element" align="end" > 
              </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="amount" align="end">
              <th mat-header-cell *matHeaderCellDef> {{settingsService.labels['admin.ingredients.tab.value']}} </th>
              <td mat-cell *matCellDef="let element">
                <mat-form-field class="text-currency">
                

    <input type="number" matInput [(ngModel)]="element.amount" (blur)="updatePrice(element)" [disabled]="!settingsService.user">
                    
                  </mat-form-field>
                  {{settingsService.labels['settings.currency.cz']}}
             </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </ng-template>
        
    </mat-expansion-panel>
</mat-accordion>

<button  *ngIf="settingsService.user" mat-flat-button (click)="addGroup()" class="add-fab-button" color="accent" aria-label="Example icon button with a delete icon">
  <mat-icon>add</mat-icon> {{settingsService.labels['admin.menu.group.add']}}
</button>