<div align="center">
    <mat-card style="width: 95%;">

        <mat-card-title layout-align='center center' layout='column'>
           
            <table style="width: 100%;">
                <tr>
                    <td style="width: 50%;">
                        {{settingsService.labels['admin.title']}}
                    </td>
                    <td style="width: 50%" align="end">
                        <img src="./../../assets/imgs/Logo2.jpg" alt="Musle icon" style="height: 58px;">
                    </td>
                    <td>
                        <button mat-icon-button [matMenuTriggerFor]="appMenu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #appMenu="matMenu" >
                            <mat-list role="list">
                                <mat-list-item role="listitem"  *ngIf="settingsService.user"><mat-icon>account_box</mat-icon>  {{settingsService.labels['admin.signin.admin.user']}}</mat-list-item>
                              </mat-list>
                              <button mat-menu-item *ngIf="!settingsService.user" (click)="showSignIn()"><mat-icon>account_circle</mat-icon>  {{settingsService.labels['admin.signin.title']}}</button>
                            <button mat-menu-item *ngIf="settingsService.user" (click)="signOut()"><mat-icon>highlight_off</mat-icon>  {{settingsService.labels['admin.signout.button']}}</button>
                          </mat-menu>
                    </td>
                </tr>
            </table>
            
        </mat-card-title>
        <mat-card-content>
                
        <mat-tab-group>
                <mat-tab > 
                    <ng-template mat-tab-label>
                        <mat-icon aria-hidden="false">style</mat-icon>
                        {{settingsService.labels['admin.tabs.orders']}}
                      </ng-template>
                   <div [ngStyle]="{'height':heightWindows-heightborder+'px'}" style="overflow: auto;">
                    <app-order></app-order> 
                   
                </div>
                </mat-tab>
                <mat-tab> 
                    <ng-template mat-tab-label>
                        <mat-icon aria-hidden="false">fastfood</mat-icon>
                        {{settingsService.labels['admin.tabs.ingredients']}}
                      </ng-template>
                    <div [ngStyle]="{'height':heightWindows-heightborder+'px'}" style="overflow: auto;">
                        <app-ingredients></app-ingredients> 
                    </div>
                </mat-tab>
                <mat-tab> 
                    <ng-template mat-tab-label>
                        <mat-icon aria-hidden="false">translate</mat-icon>
                        {{settingsService.labels['admin.tabs.labels']}}
                      </ng-template>
                    <div [ngStyle]="{'height':heightWindows-heightborder+'px'}" style="overflow: auto;">
                        <app-labels></app-labels> 
                    </div>
                </mat-tab>
                <mat-tab> 
                    <ng-template mat-tab-label>
                        <mat-icon aria-hidden="false">settings</mat-icon>
                        {{settingsService.labels['admin.settings']}}
                      </ng-template>
                    <div [ngStyle]="{'height':heightWindows-heightborder+'px'}" style="overflow: auto;">
                        <app-settings></app-settings>
                    </div>
                </mat-tab>
              </mat-tab-group>
              
        </mat-card-content>
    </mat-card>
</div>