<table class="tabl" *ngIf="!isSmallScreen">
    <thead>
        <tr>
            <th class="lbl-column">
                <mat-form-field style="width: 100%;">
                    <mat-label>Label</mat-label>
                    <mat-icon matSuffix>search</mat-icon>
                    <input matInput type="text" [(ngModel)]="labelId2Search" (keyup)="search()">
                  </mat-form-field>
            </th>
            <th *ngFor="let lang of langs">
                {{lang.country}}
            </th>
            <th class="udt-column"></th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let label of labelsFilter">
        <td>
            {{label.id}}
        </td>
        <td *ngFor="let lang of langs">
            <mat-form-field class="full-width">
                <textarea matInput [(ngModel)]="label[lang.id]"  [disabled]="!settingsService.user"></textarea>
              </mat-form-field>
        </td>
        <td>
            <button mat-raised-button color="accent" (click)="updateLabel(label)" [disabled]="!settingsService.user">
                <mat-icon>autorenew</mat-icon>
            </button>
            <button mat-button *ngIf="!label.confirmDelete" [disabled]="!settingsService.user" (click)="toggleDeleteLabel(label)">
                <mat-icon>delete_outline</mat-icon>
            </button>
            
            <button mat-button color="accent" *ngIf="label.confirmDelete" [disabled]="!settingsService.user" (click)="confirmDelete(label)">
                <mat-icon>check</mat-icon>
            </button>
            <button mat-button color="warn" *ngIf="label.confirmDelete" [disabled]="!settingsService.user" (click)="toggleDeleteLabel(label)">
                <mat-icon>clear</mat-icon>
            </button>
        </td>
    </tr>
</tbody>
</table>

<!-- Small devices-->
<table class="tabl full-width" *ngIf="isSmallScreen">
    <thead>
        <tr>
            <th class="lbl-sml-column">
                Label
            </th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let label of labelsFilter">
        <td >
           
           <table class="full-width">
    <thead>
        <tr>
            <th>
                {{label.id}}
            </th>
            <th style="text-align: right;"> 
                <button mat-mini-fab color="accent" (click)="updateLabel(label)" [disabled]="!settingsService.user">
                    <mat-icon>update</mat-icon>
                </button>
                <button mat-mini-fab color="warn" [disabled]="!settingsService.user">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </th>
        </tr>
    </thead>
            <tr *ngFor="let lang of langs" >
                <td colspan="2">
                    <mat-form-field class="full-width">
                        <mat-label>{{lang.country}}</mat-label>
                        <textarea matInput [(ngModel)]="label[lang.id]" [disabled]="!settingsService.user"></textarea>
                      </mat-form-field>
                </td>
            </tr>
           </table>
        </td>
       
    </tr>
</tbody>
</table>
