.tabl{
    width: 100%;
    margin-top: 1em;
}

.tabl th, td {
    padding: 2px 15px;
    text-align: left;
  }

.tabl tr:nth-child(even) {background-color: #f2f2f2;}

.lbl-column{
    width: 30%;
}
.lbl-sml-column{
    width: 80%;
}

.udt-column{
    width: 5%;
}

.full-width{
    width: 100%;
}