<h3>{{settingsService.labels['admin.settings.upload.info.label']}}</h3>
<div *ngIf="!uploadPercent">
        <input type="file" class="input-file" (change)="uploadFile($event)" />
</div>


<div *ngIf="uploadPercent">
    <mat-progress-bar mode="determinate" color="primary" [value]="uploadPercent | async"></mat-progress-bar>
    <br>
    <mat-chip-list aria-label="Fish selection">
        <mat-chip>{{fileName}}</mat-chip>
        <mat-chip color="primary" selected>{{settingsService.labels['admin.settings.upload.label']}}: {{uploadPercent | async}} %</mat-chip>
    </mat-chip-list>
</div>
